* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}


.set-prllx {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	background-position: right bottom;
}

.prllx-1 {
	background-image: url("./images/elevator.jpg");
}

.prllx-2 {
	background-image: url("./images/night-blur-lights.jpg");
	height: 110%;
}

.txt-blck1 {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.4);
	border-radius: 2px;
	color: white;
	font-weight: bold;
	border: 3px solid #0f0f0f;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
	font-family: 'Noto Sans Mono', monospace;
}

#nav-btn {
	border: none;
}

#nav-hd a {
	color: #0080ff;
}

#nav-hd a:hover{
	color: #ee4444;
}

#nav-hd {
	background-color: #000000 !important;
}

.svg-icons {
	width: 50px;
}

/* Grid button styles */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
 }

.abouthead {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.album {
  flex: 25%;
  padding: 0 4px;
}

.album img {
  margin-top: 8px;
  vertical-align: middle;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

div[class="col album"] > img {
	width: 100%;
}

div#cform {
	max-width: 700px;
	margin: auto;
}